doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/css/style.css')
    script(src='/public/js/jquery.min.js')
    script(src='/public/js/jquery.backtotop.js')
  body
    block content
