doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/css/style.css')
    script(src='/public/js/jquery.min.js')
    script(src='/public/js/jquery.backtotop.js')
  body
    block content
    div.footer
     div.back_to_top
     a(href=next)='next'
