*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.canvas{
    position: relative;
    margin: 20px auto;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.canvas .buttons{
    position: absolute;
}
.canvas .buttons .btn{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
}
.point_btn{
    position: absolute;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}
#timeline{

}
.alert{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}
.alert .msg_box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
}
.alert .msg_box .msg_pan{
    position: absolute;
    top: -100px;
    left: -200px;
    width: 400px;
    height: 200px;
    background: #fff;
    border-radius: 10px;
}
.alert .msg_box .msg_pan .msg{
    padding: 10px;
}
.alert .msg_box .close{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: #f00;
    border-radius: 50%;
    cursor: pointer;
    background: url('/public/imgs/close.png');
    background-size: 100%;
}
.alert .msg_box .close img{
    width: 100%;
    height: 100%;
}

.back_to_top{
    margin: 30px auto;
}
table{
    border-color: #ccc;
    border-style: solid;
    border-width:0 1px 1px 0;
    margin: 20px auto;
}
td,th{
    border-width:1px 0 0 1px;
    border-color: #ccc;
    border-style: solid;
    padding: 10px;
    margin: 0;
}
.btn {
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    border:none;
    outline: none;
    cursor: pointer;
}
.weight_msg{
    margin: 20px auto;
}
.nav {
    background: rgba(0,0,0,0.1);
    border-radius: 0 0 20px 20px;
    height: 80px;
    line-height: 80px;
    color: #fff;
}
.face{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px auto;
}
.sex_girl{
    border: solid 8px pink;
}
.name{
    width: 140px;
    margin: 20px auto;
}
.name.sex_girl{
    border:none;
    background-size: 30px;
    background-image: url('/public/imgs/girl.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
}
.name span{
    margin: 0 0 0 40px;
    font-size: 30px;
}
.sex{
    width: 40px;
    height: 40px;
    margin: 0px auto;
}
.name{
    font-size: 30px;
    line-height: 40px;
}
.age_pan{
    width: 500px;
    height: 20px;
    margin: 50px auto;
    position: relative;
}
.age_border{
    width: 500px;
    height: 20px;
    background: #fff;
    border:solid 2px #f00;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.age_value{
    width: 50%;
    height: 20px;
    background: yellow;
}
.age_text_border{
    position: absolute;
    top: -40px;
    left: 50%;
    
}
.age_text{
    position: absolute;
    top: 0px;
    width: 50px;
    height:30px;
    left: -25px;
    line-height: 30px;
    background: #ccc;
    border-radius: 5px;
    color: #fff;
}
.age_text_sj{
    content: '';
    position: absolute;
    background:transparent;
    width: 0px;
    height: 0px;
    border-top: solid 12px #ccc;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    top: 30px;
    left: -5px;
}

.navigation{
    /* position: fixed;
    top: 0;
    left: 0;
    */
    z-index: 20;
    width: 100%;
    height: 45px;
    background: #0767c8;
    background: -webkit-linear-gradient(top,#086ed5,#055db5);
    background: linear-gradient(to bottom,#086ed5,#055db5);
    border-bottom: 1px solid #044e97;
    box-shadow: 0 1px 2px rgba(0,0,0,.25),inset 0 1px 0 rgba(255,255,255,.15);
}
.navigation a{
    color: #eee;
    width: auto;
    padding: 0 10px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    display: block;
    text-shadow: 0 1px 1px rgba(0,0,0,.12);
    font-size: 14px;
    display: inline-block;
}
.navigation a:hover{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.current{
    background: #075fb6;
}
.point_btn{
    border: none;
}
.point_btn:after{
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff0;
}